extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Brewing Beans
    div.Message
      div.Title
        h3 Brewing the Best Hot Coffee
        h1 Caffeine For the Devs
      span.Details Access the Brewing Beans Coffee Menu
    div.NavButtons
      a(href="/user")
          div.NavButton Login